flask==3.0.3
flask-cors==4.0.1
flask-sqlalchemy==3.1.1
flask-login==0.6.3
flask-bcrypt==1.0.1
flask-mail==0.10.0
flask-limiter==3.8.0
gunicorn==22.0.0
opencv-python-headless==4.10.0.84
mediapipe==0.10.14
scikit-learn==1.8.0
numpy==1.21.6
pillow==10.4.0
imageio==2.35.1
imageio[ffmpeg]
python-dotenv==1.0.1
twilio==9.3.5
PyJWT==2.9.0
